[run]
parallel = True
omit =
    */lib-python/?.?/*.py
    */lib_pypy/_*.py
    */site-packages/ordereddict.py
    */site-packages/nose/*

[paths]
source =
    pyfaidx
    .tox/*/lib/python*/site-packages/pyfaidx
    .tox/*/site-packages/pyfaidx
