name: CI

# Controls when the action will run. 
on:
  push:
      branches:
        - master
  pull_request:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    
    strategy:
      fail-fast: false
      max-parallel: 10
      matrix:
        python-version: ['3.11', '3.10', '3.9', '3.8', '3.7']
        os: [ubuntu-latest, macos-latest]
        exclude:
          # mac os: exclude all but the last two (available) python releases
          - os: macos-latest
            python-version: 3.8
          - os: macos-latest
            python-version: 3.7
          # mac os: exclude python 3.11 since it's not yet available for runners
          - os: macos-latest
            python-version: 3.11

    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.1 
        with:
          persist-credentials: false
          fetch-depth: 0
          
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
        
      - name: Install Python tools
        run: python -m pip install --upgrade pip

      - name: Install python packages
        run: python -m pip install -r dev-requirements.txt
          
      - name: Install package
        run: python -m pip install -e .
        
      - name: Cache test data
        uses: actions/cache@v2
        with:
          path: tests/data
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('tests/data/*') }}

      - name: Download test data
        run: python tests/data/download_gene_fasta.py
        
      - name: Run tests
        run: pytest --cov=pyfaidx --cov-report=xml tests
        
      - name: Run acidbio BED tests
        run: |
          git clone https://github.com/mdshw5/acidbio.git
          cd acidbio/bed
          python3 -m pip install -r requirements.txt
          cp config_template.yaml config.yaml
          python3 bedrunall.py --tool pyfaidx BED03 ./
                
      - name: Codecov
        uses: codecov/codecov-action@v2.1.0
