name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    
    strategy:
      matrix:
        python: [3.9]
        os: [ubuntu-latest, macos-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.1 
        with:
          persist-credentials: false
          fetch-depth: 0
          
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}

      - name: Install python packages
        run: pip install cython pysam requests coverage pyfasta pyvcf numpy nose-ignore-docstring biopython
          
      - name: Install package
        run: python setup.py install
        
      - name: Download test data
        run: python tests/data/download_gene_fasta.py
        
      - name: Nosetests
        run: nosetests --with-coverage --cover-package=pyfaidx
        
      - name: Codecov
        uses: codecov/codecov-action@v2.1.0
